* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main: #3778c2;
  --second: #5fb523;
  --text: #434b54;
}

html {
  font-size: 62.5%;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.desktop-only {
  display: none;
}

/* Log In view */

.logIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.logIn > * {
  font-size: 150%;
  padding: 0.5rem;
}

/* Sign Up view */

.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.signUp > * {
  font-size: 150%;
  padding: 0.5rem;
}

/* Navbar */

.navbar {
  opacity: 0.95;
}

.navbar-container input[type="checkbox"],
.navbar-container .hamburger-lines {
  display: block;
}

.navbar-container {
  display: block;
  position: relative;
  height: 64px;
}

.navbar-container input[type="checkbox"] {
  position: absolute;
  display: block;
  height: 32px;
  width: 30px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
}

.navbar-container .hamburger-lines {
  height: 23px;
  width: 35px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #333;
}

.navbar-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.navbar-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 100px;
  background: #fff;
  height: 100vh;
  max-width: 300px;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  box-shadow: 5px 0 10px 0 #aaa;
}

.navbar .menu-items li {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 2rem;
}

.navbar-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(35deg);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-35deg);
}

/* Categories Splash */

.splash {
  width: 80vw;
  height: 100vh;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.splash__LogIn {
  background-color: var(--main);
  color: #fff;
  border: none;
  padding: 0.8rem;
  text-align: center;
  width: 100%;
  font-family: inherit;
  border-radius: 0.5rem;
  font-size: 1.8rem;
}

.splash__SignUp {
  background: #fff;
  border: none;
  margin: 0.3rem auto;
  padding: 0.8rem;
  text-align: center;
  width: 100%;
  font-family: inherit;
  border-radius: 0.5rem;
  font-size: 1.8rem;
}

@media screen and (min-width: 780px) {
  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}
